.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	&-inner {
		margin-bottom: 50px;
		.ant-form-item {
			width: 400px;
		}
		.btn-login {
			margin: 5px 0 20px 0;
			width: 100%;
		}
	}
}
