.profile-wrapper .user-info-wrapper {
	border-radius: 10px;
	border: solid #40a9ff 1px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.button {
		text-align: center;
		button {
			width: 50%;
		}
	}
}
