.profile-wrapper .user-trophy-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	.name {
		margin-top: 10px;
		font-size: 20px;
	}
	.trophy {
		margin-top: 20px;
		font-size: 30px;
	}
	.rate {
		margin-top: 20px;
	}
	.count {
		.ant-tag {
			margin: 0 5px;
			width: 90px;
			height: 30px;
			text-align: center;
			font-size: 14px;
			line-height: 30px;
		}
		margin-top: 5px;
	}
}
